.container{
    width: 90%;
    margin: auto;
    /* text-align: center; */
    background-color:#2196f317;
    color: black;
    border: 2px solid black;
    /* padding-left: 40px; */
    padding: 20px 0px 10px 40px;
}
h1{
    padding-top: 20px;
    border-bottom: solid 2px black;
    display: inline;
}
input{
    margin: 10px;
    color: azure;
}
button{
    margin-top: 20px;
    padding: 8px 18px;
    background-color:black;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
.quiz-container{
    margin: auto;
    padding:0 0 20px 0;
}
.question{
    display: none;
}